html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.section-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.header {
  background-color: #151515;
}
.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}
.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  gap: 35px;
}
.list__menu-link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.list__menu-link--active {
  color: #0066ff;
}
.swiper::after {
  content: "";
  background: rgba(21, 21, 21, 0.3);
  z-index: 5;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper-pagination-bullet {
  border-radius: 0;
  width: 120px;
  height: 3px;
  background-color: #151515;
  opacity: 1;
}
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}
.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}
.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: #ffffff;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.footer__menu-list {
  max-width: 250px;
}
.footer__menu-title {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.apps {
  display: flex;
  justify-content: center;
  gap: 39px;
  margin-bottom: 52px;
}
.footer__copy-text {
  max-width: 806px;
  text-align: center;
  margin: 0 auto 40px;
}
.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.main {
  flex-grow: 1;
}
.top {
  color: #ffffff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.title {
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.top__link {
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  width: 100%;
}
.why-lease {
  padding: 150px 0;
}
.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}
.why-lease__item-img {
  margin-bottom: 30px;
}
.why-lease__item-title {
  margin-bottom: 30px;
  font-style: 24px;
  font-weight: 700;
}
.why-lease__item-text {
  text-align: left;
}
.how-does {
  padding-bottom: 150px;
}
.how-does__inner {
  max-width: 580px;
  margin: 0 auto;
}
.how__does-title {
  font-style: 24px;
  font-weight: 700;
  padding-top: 50px;
}
.how__does-list {
  padding: 50px 0 70px;
  counter-reset: myCounter;
}
.how__does-item {
  list-style-type: none;
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 18.5px 0 18.5px 240px;
  min-height: 63px;
}

.how__does-item + .how__does-item {
  margin-top: 40px;
}
.how__does-item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  background-color: #06f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.video {
  padding-bottom: 150px;
}
.video__title {
  margin-bottom: 20px;
}
.video__text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.video__content {
  display: block;
  margin: 0 auto;
}
.important {
  padding-bottom: 150px;
}
.important__title {
  margin-bottom: 20px;
}
.important__text {
  text-align: left;
  max-width: 580px;
  margin: 0 auto 50px;
}
.important_item_text {
  width: 270px;
  text-align: left;
}
.importants__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.important__item-img {
  margin-bottom: 20px;
}
.contacts {
  padding: 100px 0 150px;
}
.contacts__title {
  margin-bottom: 20px;
}
.contacts__text {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 100px;
}
.form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__textarea {
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 280px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  border: 1px solid #0066ff;
  margin-bottom: 50px;
}

.form__input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #0066ff;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
}
.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  opacity: 0.5;
}
.form__btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #151515;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 13px 61px;
  margin: 0 auto;
}
.blog {
  padding-bottom: 150px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}
.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__item-img {
  margin-bottom: 30px;
  width: 100%;
}
.blog__item-title {
  font-size: 24px;
  font-weight: 700;
  flex-basis: 446px;
}
.blog__item-link {
  color: #fff;
  background-color: #0066ff;
  padding: 4px 20px;
}
.show-link {
  text-transform: uppercase;
  padding: 13px;
  background-color: #151515;
  color: #fff;
  width: 225px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.choose {
  padding: 100px 0 150px;
}
.tabs__btn {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 100px;
}
.tabs__btn-item {
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.tabs__btn-item--active {
  color: #0066ff;
}

.tabs__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}
.tabs__content-item.tabs__content-item--active {
  display: grid;
}
.card {
  text-align: center;
}
.card__content {
  padding: 0 5px;
  border: 1px solid #0066ff;
  border-top: 0;
}
.card__title {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card__text {
  margin-bottom: 20px;
}
.card__price {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.card__ing {
  display: block;
}
.card__link {
  display: block;
  color: #0066ff;
  border: 1px solid #0066ff;
  border-top: 0;
}
.tabs {
  margin-bottom: 70px;
}
